<%= form_for application, url: doorkeeper_submit_path(application), html: {class: 'form-horizontal', role: 'form', multipart: true} do |f| %>
    <% if application.errors.any? %>
        <div class="alert alert-danger" data-alert><p><%= t('doorkeeper.applications.form.error') %></p></div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do %>
        <%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :name %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:homepage].present?}" do %>
        <%= f.label :homepage, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :homepage, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :homepage %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:description].present?}" do %>
        <%= f.label :description, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :description, class: 'form-control', rows: '3' %>
          <%= doorkeeper_errors_for application, :description %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:user_oriented].present?}" do %>
        <%= f.label :user_oriented, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :user_oriented, options_for_select(['undergraduate', 'master', 'doctor', 'lecturer', 'associate professor', 'professor', 'executive staff']), {}, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :user_oriented %>
        </div>
    <% end %>


    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do %>
        <%= f.label :redirect_uri, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :redirect_uri, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :redirect_uri %>
          <span class="help-block">
        <%= t('doorkeeper.applications.help.redirect_uri') %>
      </span>
          <% if Doorkeeper.configuration.native_redirect_uri %>
          <span class="help-block">
            <%= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>") %>
          </span>
          <% end %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:scopes].present?}" do %>
        <%= f.label :scopes, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :scopes, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :scopes %>
          <span class="help-block">
        <%= t('doorkeeper.applications.help.scopes') %>
      </span>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:user_oriented].present?}" do %>
        <%= f.label "App icon", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <span class="icon_picture"><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></span>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit t('doorkeeper.applications.buttons.submit'), class: "btn btn-primary" %>
        <%= link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path, :class => "btn btn-default" %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $('#icon_picture').bind('change', function () {
    var size_in_megabytes = this.files[0].size / 1024 / 1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
