<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "cooperators/sidenav" %>
  </div>

  <div class="col-sm-9">
    <h3 class="text-muted">Edit Application: <%= @application.name %></h3>

    <hr>
    <ol class="breadcrumb">
      <li><%= link_to "Applications List ", applications_cooperator_path(@cooperator) %></a></li>
      <li class="active">Edit Application <%=@application.id%></li>
    </ol>

    <hr>


    <%= render 'oauth/applications/form', application: @application %>

  </div>
</div>

