<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "shared/sidenav" %>
  </div>

  <div class="col-sm-9">
    <h3 class="text-muted">Apps Store</h3>
    <hr>

    <ol class="breadcrumb">
      <li class="active">Apps List</li>
    </ol>
    <hr>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.homepage') %></th>
        <th></th>
      </tr>

      </thead>
      <tbody>
      <% @applications.each do |application| %>
          <tr>
            <td><%= application.name %></td>
            <td><%= application.homepage %></td>
            <% if developer_logged_in? %>
                <td><%= link_to 'Users', users_path(app_id: application.id, opt: 'list'), method: :get, class: 'btn btn-success btn-xs' %></td>
                <td><%= link_to 'Show', oauth_application_path(application), method: :get, class: 'btn btn-info btn-xs' %></td>
                <td><%= link_to 'Edit it', edit_oauth_application_path(application), method: :get, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Destroy it!', oauth_application_path(application), class: 'btn btn-xs btn-danger',
                                :method => :delete, :data => {confirm: 'Are you sure?'} %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>


  </div>
</div>
