<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "cooperators/sidenav" %>
  </div>

  <div class="col-sm-9">
    <h3 class="text-muted">Show App</h3>
    <hr>
    <ol class="breadcrumb">
      <li><%= link_to "Applications List", applications_cooperator_path(@cooperator) %></a></li>
      <li class="active">Application <%=@application.id%></li>
    </ol>

    <hr>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @application.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-3 col-lg-2 " align="center">
            <%= image_tag @application.picture.url if @application.picture? %>
          </div>

          <div class=" col-md-9 col-lg-10 ">
            <table class="table table-user-information">
              <tbody>

              <tr>
                <td>App Name:</td>
                <td><%= @application.name %></td>
              </tr>

              <tr>
                <td>Uid:</td>
                <td><code><%= @application.uid %></code></td>
              </tr>

              <tr>
                <td>Secret:</td>
                <td><code><%= @application.secret %></code></td>
              </tr>

              <tr>
                <td>Scope:</td>
                <td><code><%= @application.scopes %></code></td>
              </tr>

              <tr>
                <td>User Oriented:</td>
                <td><%= @application.user_oriented %></td>
              </tr>

              <tr>
                <td>Home Page:</td>
                <td><code><%= @application.homepage %></code></td>
              </tr>

              <tr>
                <td>Created Date:</td>
                <td><%= @application.updated_at.to_formatted_s(:long) %></td>
              </tr>

              <tr>
                <td>Last Updated:</td>
                <td><%= @application.updated_at.to_formatted_s(:long) %></td>
              </tr>

              <tr>
                <td>Description:</td>
                <td><%= truncate(@application.description, length: 80) %></td>
              </tr>

              <tr>
                <td>Callback Urls:</td>
                <td>
                  <table>
                    <% @application.redirect_uri.split.each do |uri| %>
                        <tr>
                          <td>
                            <code><%= uri %></code>
                          </td>
                          <td>
                            <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'btn-sm btn-success', target: '_blank' %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                </td>
              </tr>

              </tbody>
            </table>

            <%= button_to t('doorkeeper.applications.buttons.edit'),
                          edit_oauth_application_path(@application), method: :get, class: "btn btn-success" %>
            <%= button_to 'Destroy it!', oauth_application_path(@application), class: "btn btn-danger",
                          :method => :delete, :data => {confirm: 'Are you sure?'} %>
            <%= button_to t('doorkeeper.applications.buttons.access'),
                          cooperator_list_users_path(@application), method: :get, class: "btn btn-info" %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>