<%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', :object => @user %>
    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:name].present?}" do %>
        <%= f.label :name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :name, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :name %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:email].present?}" do %>
        <%= f.label :email, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :email, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :email %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:company].present?}" do %>
        <%= f.label :company, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :company, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :company %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:department].present?}" do %>
        <%= f.label :department, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :department, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :department %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:role].present?}" do %>
        <%= f.label :role, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.select :role, options_for_select(['undergraduate', 'master', 'doctor', 'lecturer', 'associate professor', 'professor', 'executive staff']), {}, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :role %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:password].present?}" do %>
        <%= f.label :password, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :password, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :password %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:password_confirmation].present?}" do %>
        <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :password_confirmation, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :password_confirmation %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:icon].present?}" do %>
        <%= f.label "Profile icon", class: 'col-sm-3 control-label' %>
        <div class="col-sm-5">
          <span class="icon_picture"><%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %></span>
        </div>
    <% end %>


    <%= content_tag :div, class: "form-group#{' has-error' if @user.errors[:developer].present?}" do %>
        <%= f.label :developer, class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.select :developer, options_for_select(['true', 'false']), {}, class: 'form-control' %>
          <%= doorkeeper_errors_for @user, :developer %>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "Cancel", @user.new_record? ? root_path : user_path(@user), :class => "btn btn-default" %>
      </div>
    </div>

<% end %>