<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "users/sidenav" %>
  </div>

  <div class="col-sm-9">
    <h3 class="text-muted">Applications List</h3>
    <hr>

    <ol class="breadcrumb">
      <li class="active">Applications List</li>
    </ol>
    <hr>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.callback_url') %></th>
        <th></th>
      </tr>

      </thead>
      <tbody>
      <% @applications.each do |application| %>
          <tr>
            <td><%= application.name %></td>
            <td><%= application.redirect_uri %></td>
            <td><%#= button_to 'Show', oauth_application_path(application), method: :get, class: 'btn-xs btn-info' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


  </div>
</div>
