<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "shared/sidenav" %>
  </div>

  <div class="col-sm-9">
    <h3 class="text-muted">Add users to <%= @application.name %></h3>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "App List", oauth_applications_path(current_user) %></a></li>
      <li><%= link_to "App #{@application.id}", oauth_application_path(@application) %></a></li>
      <% if params[:opt]=='add' %>
          <li class="active">New Users</li>
      <% elsif params[:opt]=='list' %>
          <li class="active">All Users</li>
      <% end %>
    </ol>

    <hr>

    <ul class="nav nav-tabs">
      <li class=<%= "active" if params[:opt]=='list' %>><%= link_to "All Users", users_path(app_id: @application.id, opt: 'list'), class: 'btn btn-link' %></li>
      <li class=<%= "active" if params[:opt]=='add' %>><%= link_to "New User", users_path(app_id: @application.id, opt: 'add'), class: 'btn btn-link' %></li>
    </ul>

    <br>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.role') %></th>
        <th><%= t('department') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.role %></a></td>
            <td><%= user.department %></a></td>

            <% if params[:opt]=='add' %>
                <td><%= link_to "Add", associate_user_access_path(user, @application), method: :get, class: "btn btn-xs btn-success" %></td>
            <% elsif params[:opt]=='list' %>
                <td><%= link_to "Manage Access", edit_user_access_path(user, @application), method: :get, class: 'btn btn-xs btn-info' %></td>
                <td><%= link_to "Delete", disassociate_user_access_path(user, @application), method: :get, class: 'btn btn-xs btn-danger' %></td>
            <% end %>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
