<%= form_for @cooperator, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', :object => @cooperator %>
    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:name].present?}" do %>
        <%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: 'form-control' %>
          <%= doorkeeper_errors_for @cooperator, :name %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:belongings].present?}" do %>
        <%= f.label :belongings, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :belongings, class: 'form-control' %>
          <%= doorkeeper_errors_for @cooperator, :belongings %>
        </div>
    <% end %>


    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:email].present?}" do %>
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :email, class: 'form-control' %>
          <%= doorkeeper_errors_for @cooperator, :email %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:password].present?}" do %>
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :password, class: 'form-control' %>
          <%= doorkeeper_errors_for @cooperator, :password %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:password_confirmation].present?}" do %>
        <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :password_confirmation, class: 'form-control' %>
          <%= doorkeeper_errors_for @cooperator, :password_confirmation %>
        </div>
    <% end %>

    <%= content_tag :div, class: "form-group#{' has-error' if @cooperator.errors[:icon].present?}" do %>
        <%= f.label "Profile icon", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <span class="icon_picture"><%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %></span>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "Cancel", @cooperator.new_record? ? root_path : cooperator_path(@cooperator), :class => "btn btn-default" %>
      </div>
    </div>

<% end %>