<div class="row">

  <div class="col-sm-3 sidenav">
    <%= render "users/sidenav" %>
  </div>

  <h3 class="text-muted">Manage Access: <%= @access.resource.name %></h3>
  <hr>

  <div class="col-sm-9">

    <ol class="breadcrumb">
      <li><%= link_to "Applications List", applications_cooperator_path(current_user) %></a></li>
      <li><%= link_to "Application #{@application.id} ", oauth_application_path(@application) %></a></li>
      <li><%= link_to "Users List", cooperator_list_users_path %></a></li>
      <li><%= link_to "User #{@user.id}", user_path(@user) %></a></li>
      <li class="active">Access</li>
    </ol>

    <hr>

    <div class="col-sm-6">
      <h4 class="text-muted">Access Tree Diagram</h4>
      <div class="easy-tree">
        <%= content_tag 'ul' do %>
            <%= content_tag('li') do %>
                User 1 [ ]<%= render 'node', path: [1], parsed_array: @parsed_array %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <h4 class="text-muted">Input</h4>

      <div class="well">
        <div class="easy-tree-toolbar">

          <div class="input-group">
            <input type="text" class="form-control" id="disabledInput" disabled>
          <span class="input-group-btn">
            <button type="button" class="btn btn-success confirm disabled">Confirm</button>
            <button type="button" class="btn btn-default cancel disabled">Cancel</button>
          </span>
          </div>
          <br>

          <div class="form-group">
            <div class="create">
              <button class="btn btn-success disabled">
                <span class="glyphicon glyphicon-plus"></span>Add Node
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="edit">
              <button class="btn btn-primary disabled">
                <span class="glyphicon glyphicon-edit"></span>Edit Node
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="remove">
              <button class="btn btn-danger disabled">
                <span class="glyphicon glyphicon-remove"></span>Delete Node
              </button>
            </div>
          </div>

        </div>
      </div>

      <button type="button" class="btn btn-primary" id="commit">Push Changes</button>
      <button type="button" class="btn btn-info" id="show_form">Show Detail</button>
      <button type="button" id="hidden_form" class="btn btn-warning hidden">Hide Detail</button>

      <div id="form" class="hidden">
        <h3 class="text-muted">Access Data Array</h3>
        <%= form_for @access, url: user_access_path(@user, @application),
                     html: {id: 'tree_form', class: 'form-horizontal', role: 'form'} do |f| %>
            <div class="form-group">
              <%= f.label :node, class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= f.text_area :node, class: "form-control", id: "access_node_update", rows: "5" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :path, class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= f.text_area :path, class: "form-control", id: "access_path_update", rows: "8" %>
              </div>
            </div>

        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  (function ($) {
    function init() {
      $('.easy-tree').EasyTree({});
    }

    window.onload = init();
  })(jQuery);

  $("#commit").click(function (e) {
    e.preventDefault();
    var content = $('.easy-tree').find('a');
    var filter = content.text().replace(/[\r\n\s]/g, "").replace(/[A-Za-z]/g, "");

    var new_path = filter.match(/\[(.*?)\]/g);
    var node = filter.replace(/\[(.*?)\]/g, " ");

    document.getElementById("access_node_update").value = node;
    document.getElementById("access_path_update").value = new_path;
    document.getElementById('tree_form').submit();
  });


  $("#show_form").click(function (e) {
    $('#form').removeClass("hidden");
    $(this).addClass("hidden");
    $('#hidden_form').removeClass("hidden");
  });

  $("#hidden_form").click(function (e) {
    $('#form').addClass("hidden");
    $(this).addClass("hidden");
    $('#show_form').removeClass("hidden");
  });


  //    var array = [];
  //    for (var key in text) {
  //      if (text[key] != "-") {
  //        array.push(text[key])
  //      }
  //    }

  //    alert(text);


  //    for (var i = 0; i < array.length; i++) {
  //      if(array[i].match(/^[A-Za-z]/)){
  //        array.splice(i,1);
  //      }
  //    }
  //

  //    newarray=[];
  //    for (var i = 0; i < array.length; i++) {
  //      if(array[i]&&array[i]!=""){
  //        newarray.push(array[i])
  //      }
  //    }


</script>


<!------------------------------------------------------------------------------------------------------------------>

