<div class="well text-center">
  <h4><%= current_user.name %></h4>
  <!--<img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">-->
  <%= image_tag current_user.icon.url if current_user.icon? %>
</div>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Account Management', "#", data: {parent: '#accordion', toggle: "collapse", target: "#account"} %>
    </div>

    <div id="account" class="panel-collapse collapse <%= "in" if params[:controller]=="users" && params[:action]!='index' %>">
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to user_path(current_user) do %>
              <span class="glyphicon glyphicon-chevron-right"></span> My Profile
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to edit_user_path(current_user) do %>
              <span class="glyphicon glyphicon-chevron-right"></span> Edit Profile
          <% end %></li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to "Apps Management", "#", data: {parent: '#accordion', toggle: "collapse", target: "#apps"} %>
    </div>

    <div id="apps" class="panel-collapse collapse <%= "in" if params[:controller]=="oauth/applications" %>">
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to oauth_applications_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> My Apps
              <span class="label label-info pull-right"><% if developer_logged_in? %><%= current_user.oauth_applications.count %><% else %><%= current_user.applications.count %><% end %></span>
          <% end %>
        </li>
        <% if developer_logged_in? %>
            <li class="list-group-item">
              <%= link_to new_oauth_application_path do %>
                  <span class="glyphicon glyphicon-chevron-right"></span> Create new one
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if developer_logged_in? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to "User Management", "#", data: {parent: '#accordion', toggle: "collapse", target: "#users"} %>
        </div>

        <div id="users" class="panel-collapse collapse <%= "in" if params[:controller]=='users'&&params[:action]=='index' %>">
          <ul class="list-group">
            <% current_user.oauth_applications.each do |app| %>
                <li class="list-group-item">
                  <%= link_to users_path(app_id: app.id, opt: 'list') do %>
                      <span class="glyphicon glyphicon-chevron-right"></span> <%= app.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>

</div>