<% provide(:title, "Log in as Admin") %>
<h3 class="text-muted">Admin Log in</h3>

<div class="well">
  <%= form_for(:session, url: session_admin_login_url) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <div class="col-sm-offset-1">
        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span class="small">Remember me on this computer</span>
        <% end %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>

</div>

<%= link_to "Login as User",root_url,{:style=>'color:blue;'} %>
<p><%= link_to "Login as Cooperator!",root_url(login_role:"cooperator"),{:style=>'color:blue;'}  %></p>

