<div clss="panel panel-default">

  <h3 class="text-muted">Related Links</h3>

  <br>
  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "Ministry of Education of People's Republic of China", "http://www.moe.edu.cn/" %>
  </p>
  
  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "Chiese Society of Academic Degrees And Education", "http://www.csadge.edu.cn/" %><br>
  </p>

  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "National Engineering Doctoral Education", "http://www.meng.edu.cn/" %><br>
  </p>

  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "National Library of China", "http://www.nlc.gov.cn/" %><br>
  </p>

  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "National Library, Chinese Academy of Sicence", "" %><br>
  </p>

  <p>
    <span class="	glyphicon glyphicon-link"></span>
    <%= link_to "Sharing Resources of Science and Technology China", "" %><br>
  </p>

  <hr>

  <h3 class="text-muted">Related Downloads</h3>
  <br>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Education Cloud Service Guide (Graduate Student)", "http://sep.ucas.ac.cn/resources/doc/User_Service_Guide[YJS].pdf" %>
  </p>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Education Cloud Service Guide (Bachelar Student)", "http://sep.ucas.ac.cn/resources/doc/User_Service_Guide[BKS].pdf" %>
  </p>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Education Cloud Service Guide (Teacher)", "http://sep.ucas.ac.cn/resources/doc/User_Service_Guide[JS].pdf" %>
  </p>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Education Cloud Service Guide (Research Insititude)", "http://inc.ucas.ac.cn/home/info/3a25bf0a-1c49-4c5a-b302-a2103e353a9f" %>
  </p>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Regulations of the Rights of User", "http://sep.ucas.ac.cn/resources/doc/User_rights_management_regulations[UCAS].pdf" %>
  </p>
  <p>

    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Commom Problems", "http://sep.ucas.ac.cn/resources/doc/SEP_FAQ[UCAS].pdf" %>
  </p>

  <p>
    <span class="	glyphicon glyphicon-cloud-download"></span>
    <%= link_to "Enrollment System Key Driver", "" %>
  </p>


</div>