<div class="container">
  <div class="row">
    <div class="container col-sm-8">

      <h3 class="text-muted">Education Management Platform</h3>
      <hr>

      <div class="row">
        <% @application.each do |application| %>
            <div class="container-fluid col-sm-6" style="min-height: 120px;max-height: 120px">
              <div class="container-fluid col-sm-3">
                <br>
                <%= image_tag application.picture.url if application.picture? %>
              </div>
              <div class="container-fluid col-sm-9">
                <h4><%= application.name %></h4>
                <p class="text-muted"><%= truncate(application.description, length: 100) %></p>
                <br>
              </div>
            </div>
        <% end %>

      </div>

    </div>


    <div class="panel panel-default col-sm-4">
      <%= render "login" %>
    </div>

    <div class="panel panel-default col-sm-4">
      <%= render "home/related_links" %>

    </div>
  </div>

</div>

