<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="<%= root_url %>"><img src=<%= image_path("logo.png") %>></a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">

        <% if admin_logged_in? %>

            <div class="navbar-text">
              <%= current_user.name %>
            </div>

            <%= link_to home_index_path do %>
              <span class="	glyphicon glyphicon-user"></span> Admin
            <% end %>

            <li><%= link_to "Dashboard", rails_admin_path %></li>

            <li>
              <%= link_to user_logout_path, method: :delete do %>
                  <span class="	glyphicon glyphicon-off"></span>
              <% end %>
            </li>

        <% elsif developer_logged_in? %>

            <div class="navbar-text">
              <span class="	glyphicon glyphicon-home"></span> <%= current_user.company %>
            </div>

            <div class="navbar-text">
              <span class="	glyphicon glyphicon-user"></span> Developer
            </div>

            <li><%= link_to user_path(current_user) do %>
                  <span class="	glyphicon glyphicon-cog"></span> <%= current_user.name %>
              <% end %>
            </li>

            <li><%= link_to user_logout_path, method: :delete do %>
                  <span class="	glyphicon glyphicon-off"></span>
              <% end %>
            </li>

        <% elsif logged_in? %>

            <div class="navbar-text">
              <span class="	glyphicon glyphicon-home"></span>  <%= current_user.department %>
            </div>

            <div class="navbar-text">
              <span class="	glyphicon glyphicon-user"></span><%= current_user.role %>
            </div>

            <li><%= link_to user_path(current_user) do %>
                  <span class="	glyphicon glyphicon-cog"></span> <%= current_user.name %>
              <% end %>
            </li>

            <li>
              <%= link_to user_logout_path, method: :delete do %>
                  <span class="	glyphicon glyphicon-off"></span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>